.title {
    color:rgb(187, 10, 187);
    size : 30px;
    text-align: center;
 }
 h1, h2 {
    color: rgb(187, 10, 187);
    text-align: center;
    font-size: 24px;
 }
.cours {
    color: rgb(187, 10, 187);
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.background {
    background-color: rgba(255, 255, 255, 0.358);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}